{% extends 'blog/index.html' %}
{% load static %}


{% block content %}


    
        <div class="box">
            <div class="columns">
                <div class="column box ">
                    <img  src="{{post.image.url}}" alt="" style="height: 700px; width: 1000px;">
                    <h1 class="subtitle is-2">{{post.title}}</h1>
                    <p>{{post.description}}</p>
                </div>
                
           </div>
           <div class="columns">
            <div class="column box">
                <form action="{% url 'leave_comment' post.slug %}" method="POST">
                    {% csrf_token %}
                         <input type="text" name="name" placeholder="Имя пользователя"  style="width: 200px; height: 30px;"/>
                         <textarea id="comment" name="comment_text" cols="10" rows="1" aria-required="true" placeholder="Оставьте комментарий" style="width: 200px; height: 30px; " ></textarea>
                            <button type="submit" style="width: 200px; height: 30px;">Оставить комментарий</button>
                            <button type="reset" style="width: 100px; height: 30px;">Отмена</button>
                    </form>
                    {% for comment in post.comments.all %}
                        <p><i>{{comment.author_name}}:</i>{{comment.comment_text}}</p>
                    {% endfor %}
            </div>
            
        </div>
        </div>
   


    








{% endblock %}

